# Medical chatbot core
streamlit>=1.28.0
openai>=1.0.0
python-dotenv>=1.0.0
reportlab>=4.0.0        # PDF export
typing-extensions>=4.0.0

# Medline integration
requests>=2.31.0        # API hívások
urllib3>=1.26.0         # HTTP support
lxml>=4.9.0             # XML parsing
aiohttp>=3.12.13        # Asynchronous HTTP client

#Adatkezelés
pandas>=2.0.0       # CSV export és admin oldal DataFrame
numpy>=1.24.0       # pandas dependency

# requirements_rag.txt
langchain>=0.1.0
langchain-community>=0.1.0
langchain-openai>=0.0.5
#langchain-chroma>=0.0.5
chromadb>=0.4.22
pypdf>=4.0.0
tiktoken>=0.5.2